[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "evo"]
	path = evo
	url = https://github.com/MichaelGrupp/evo.git
[submodule "pykitti"]
	path = pykitti
	url = https://github.com/utiasSTARS/pykitti.git
